<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender
    name="STDERR"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %level %logger: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.vertex"
    level="INFO"/>
  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.fragment"
    level="INFO"/>
  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.geometry"
    level="INFO"/>
  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader"
    level="INFO"/>

  <logger
    name="com.io7m.jcanephora.jogl.JOGLShaders"
    level="INFO"/>
  <logger
    name="com.io7m.jcanephora.jogl.JOGLFramebuffers"
    level="INFO"/>
  <logger
    name="com.io7m.jcanephora.jogl.JOGLTextures"
    level="INFO"/>

  <logger
    name="com.io7m.sombrero.serviceloader.SoShaderResolverServiceLoader"
    level="INFO"/>
  <logger
    name="com.io7m.sombrero.core.SoShaderStoreResource"
    level="INFO"/>

  <logger
    name="com.io7m.jcanephora.jogl.JOGLIndexBuffers"
    level="TRACE"/>

  <root level="DEBUG">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
