<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender
    name="STDERR"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{128}: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.vertex"
    level="TRACE"/>
  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.fragment"
    level="TRACE"/>
  <logger
    name="com.io7m.r2.core.shaders.abstracts.R2AbstractShader.geometry"
    level="TRACE"/>

  <root level="DEBUG">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
